body {
  background: #f9f7fe;
}

h1 {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 48px;
}
h2 {
  font-family: "Playfair Display";
}
p {
  font-family: "Poppins", sans-serif;
  margin: 20px auto;
}

.hero {
  background-color: #f9f7fe;
  text-align: center;
}
#photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: limegreen;
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  p,
  footer {
    text-align: center;
  }
}
